div {
    display: flex;
    justify-content: space-between;
    
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    
    font-size: 2.1em;
}

a {
  text-decoration: none;
  color: white;
}
