<p>My commercial experience consists of</p>

<div 
  *ngFor="let company of companies" 
  class="column"
>
  <div class="row">

    <span *ngIf="company.noLogo else logo" class="company-name">{{ company.name }}</span>
    <ng-template #logo>
      <a [href]="company.url">
        <img [src]="'assets/' + company.logoFilename" [alt]="company.name + ' logo'" [class.bigger-logo]="company.name === 'Wirtualne Wycieczki'">
      </a>
    </ng-template>
    
    <span class="years">{{ company.years.since }} - {{ company.years.till || 'current' }}</span>
  
  </div>

  <p class="role">{{ company.role }}</p>
  
  <div class="job-description">
    <ng-container
      *ngFor="let paragraph of company.description"
    >
      <p class="job-description-paragraph">{{ paragraph }}</p>
    </ng-container>
  </div>
</div>
